i.top-icon,
i.shop-icon,
i.text-icon,
a.sina,
span.wxcode,
i.icon {
  background: url(../img/icon.png) no-repeat; }

.main-l-cont li span em {
  background: url(../img/icon.png) no-repeat; }

.margin {
  width: 1200px;
  margin: 0 auto; }

#header {
  background: #fafafa; }
  #header .header .head-top {
    height: 28px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; }
    #header .header .head-top .head-top-l {
      float: left; }
      #header .header .head-top .head-top-l .barcode {
        float: left;
        position: relative;
        width: 210px; }
        #header .header .head-top .head-top-l .barcode .barcode-t {
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          display: block; }
        #header .header .head-top .head-top-l .barcode .barcode-b {
          display: none;
          top: 28px;
          left: 0;
          border: 1px solid #f0f0f0;
          border-top: 1px solid #fff;
          position: absolute;
          text-align: center;
          background: #fff;
          width: 180px; }
          #header .header .head-top .head-top-l .barcode .barcode-b img {
            margin-top: 10px;
            width: 144px;
            height: 144px; }
          #header .header .head-top .head-top-l .barcode .barcode-b p {
            line-height: 30px;
            font-size: 14px;
            color: #888; }
      #header .header .head-top .head-top-l .land {
        float: left; }
        #header .header .head-top .head-top-l .land .land-title {
          margin: 0 3px 0 3px;
          color: #666;
          float: left; }
        #header .header .head-top .head-top-l .land a {
          float: left;
          display: block;
          height: 28px;
          padding: 0 8px;
          font-size: 14px; }
        #header .header .head-top .head-top-l .land .land-in {
          background: #f64400;
          color: #fff; }
        #header .header .head-top .head-top-l .land .land-in:hover {
          background: #f30000; }
        #header .header .head-top .head-top-l .land .land-out {
          background: #eee;
          color: #f10215; }
        #header .header .head-top .head-top-l .land .land-out:hover {
          background: #999;
          color: #000; }
        #header .header .head-top .head-top-l .land .myland-in {
          background: #4dc86f; }
    #header .header .head-top .head-top-r {
      float: right; }
      #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li {
        float: left;
        position: relative; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .li-top {
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          padding: 0 8px; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .li-bottom {
          display: none;
          top: 28px;
          border: 1px solid #f0f0f0;
          border-top: 1px solid #fff;
          background: #fff;
          position: absolute;
          text-align: center; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .netcom-b {
          width: 210px;
          line-height: 40px; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .netcom-b a {
            width: 105px;
            float: left;
            text-align: center; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .member-b {
          width: 210px;
          padding: 5px 10px 7px; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .member-b .member-b-box {
            padding: 10px 0 0 0;
            box-sizing: border-box;
            float: left;
            width: 105px;
            text-align: left; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .member-b .member-b-box a {
              width: 90px;
              line-height: 20px;
              float: left; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .member-b .member-b-t {
            padding-bottom: 7px;
            width: 210px;
            border-bottom: 1px dashed #333; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-t {
          position: relative; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-t span {
            margin-left: 16px; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-t span em {
              font-weight: 400;
              color: #f64400; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-t .shop-icon {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 16px;
            height: 16px;
            background-position: -440px -272px; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-b {
          width: 260px;
          min-height: 80px; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-b .shop-b-cont {
            padding: 10px; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-b .shop-b-cont p {
              height: 60px;
              line-height: 60px;
              color: #666; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-b .shop-b-go {
            padding: 5px;
            border-top: 1px dashed #f0f0f0; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .shop-b .shop-b-go a {
              padding: 0 5px;
              background: #ff6600;
              color: #fff;
              width: 80px;
              float: right;
              line-height: 26px;
              border-radius: 2px; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b {
          padding: 5px;
          right: 0; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box {
            width: 260px; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box .web-nav-l {
              float: left;
              padding: 5px;
              color: #ff4400; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box .web-nav-r {
              float: right;
              width: 180px; }
              #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box .web-nav-r a {
                float: left;
                border-right: 1px solid #f0f0f0;
                line-height: 12px;
                padding: 0 5px;
                margin: 7px 0; }
              #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box .web-nav-r a:last-child {
                border: none; }
              #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .web-nav-b .web-nav-box .web-nav-r a:hover {
                color: #f30000;
                text-decoration-line: underline; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .service-b {
          width: 200px;
          right: 0; }
          #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .service-b .service-b-bbox {
            display: flex;
            justify-content: space-around;
            text-align: left; }
            #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .service-b .service-b-bbox .service-b-box {
              padding: 5px 0; }
              #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .service-b .service-b-bbox .service-b-box a {
                line-height: 28px; }
        #header .header .head-top .head-top-r .head-top-r-ul .head-top-r-li .complain-t {
          color: #f30000; }
  #header .header .head-cont .head-cont-l {
    float: left; }
    #header .header .head-cont .head-cont-l .logo {
      font-size: 0;
      width: 360px;
      height: 42px;
      line-height: 42px;
      background: url(../img/timg.gif);
      background-position: 0 -29px;
      margin-top: 21px;
      overflow: hidden; }
  #header .header .head-cont .head-cont-c {
    float: left;
    margin-left: 42px; }
    #header .header .head-cont .head-cont-c .head-cont-c-t {
      line-height: 28px;
      height: 28px;
      margin-top: 4px;
      padding-left: 10px; }
      #header .header .head-cont .head-cont-c .head-cont-c-t span {
        display: block;
        float: left;
        height: 32px;
        color: #666;
        padding: 0 8px; }
      #header .header .head-cont .head-cont-c .head-cont-c-t .active {
        background: url("../img/icon.png") no-repeat -78px -724px; }
    #header .header .head-cont .head-cont-c .head-cont-c-c {
      height: 36px; }
      #header .header .head-cont .head-cont-c .head-cont-c-c input {
        margin-top: -6px;
        float: left;
        border: 3px solid #ff4e00;
        line-height: 30px; }
      #header .header .head-cont .head-cont-c .head-cont-c-c input[type="text"] {
        width: 380px;
        padding: 0 10px;
        color: #666; }
      #header .header .head-cont .head-cont-c .head-cont-c-c input[type="button"] {
        background: #ff4e00;
        color: #fff;
        width: 80px;
        font-size: 16px; }
    #header .header .head-cont .head-cont-c .head-cont-c-b {
      line-height: 28px; }
      #header .header .head-cont .head-cont-c .head-cont-c-b span {
        color: #666;
        padding: 0 5px; }
      #header .header .head-cont .head-cont-c .head-cont-c-b .head-cont-m:hover {
        color: aqua; }
  #header .header .head-cont .head-cont-r {
    float: right; }
    #header .header .head-cont .head-cont-r .weixingbarcode {
      height: 100px; }
      #header .header .head-cont .head-cont-r .weixingbarcode img {
        width: 92px;
        height: 92px;
        border: 1px solid #f0f0f0; }

.top-line {
  line-height: 28px;
  font-size: 12px; }
  .top-line .top-icon {
    display: inline-block;
    width: 9px;
    height: 7px;
    background-position: -41px -7px;
    transition: 0.2s; }

.head-top-top-active:hover .top-icon {
  transform: rotate(180deg); }

#nav .nav {
  height: 40px;
  background: #ff5500;
  text-align: center;
  font-size: 16px;
  position: relative; }
  #nav .nav .nav-ul .nav-li {
    float: left;
    line-height: 40px; }
    #nav .nav .nav-ul .nav-li .nav-li-a {
      width: 90px;
      height: 40px;
      color: #fff; }
    #nav .nav .nav-ul .nav-li a.shouye {
      background: #ff6600; }
    #nav .nav .nav-ul .nav-li .nav-li-a:hover {
      background: #ff6600; }
  #nav .nav .nav-ul .te {
    position: relative;
    text-align: left;
    width: 220px;
    background: #e32c0d; }
    #nav .nav .nav-ul .te i {
      float: left;
      display: inline-block;
      width: 16px;
      height: 16px;
      margin: 14px 12px 0 18px;
      background-position: -117px 0; }
    #nav .nav .nav-ul .te .nav-li-te-a {
      float: left;
      color: #fff; }
    #nav .nav .nav-ul .te .main-l-cont {
      position: absolute;
      bottom: -521px;
      left: 0;
      text-align: left;
      border: 1px solid #f0f0f0;
      width: 218px;
      height: 520px;
      font-size: 12px;
      border-top: none;
      background: #fff;
      display: none; }
      #nav .nav .nav-ul .te .main-l-cont .sntcd span em {
        width: 16px;
        height: 16px; }
      #nav .nav .nav-ul .te .main-l-cont .sntcd .proTypeListMore {
        width: 728px;
        height: 480px;
        padding: 20px; }
      #nav .nav .nav-ul .te .main-l-cont li {
        height: 40px; }
        #nav .nav .nav-ul .te .main-l-cont li span {
          display: inline-block;
          height: 40px;
          width: 168px;
          font-size: 14px;
          line-height: 40px;
          padding-left: 50px;
          color: #666;
          position: relative;
          border: 0; }
          #nav .nav .nav-ul .te .main-l-cont li span em {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 17px;
            width: 25px;
            height: 16px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon01 {
            background-position: -9px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon02 {
            background-position: -34px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon03 {
            background-position: -60px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon04 {
            background-position: -87px -82px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon05 {
            background-position: -114px -84px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon06 {
            background-position: -145px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon07 {
            background-position: -178px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon08 {
            background-position: -208px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon09 {
            background-position: -240px -83px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon10 {
            background-position: -265px -82px; }
          #nav .nav .nav-ul .te .main-l-cont li span em.icon11 {
            background-position: -297px -84px; }
          #nav .nav .nav-ul .te .main-l-cont li span i {
            position: absolute;
            display: inline-block;
            right: 10px;
            top: 50%;
            transform: translatey(-50%);
            width: 8px;
            height: 14px;
            background: url(../img/icon.png) no-repeat -60px 0;
            margin-top: 2px; }
          #nav .nav .nav-ul .te .main-l-cont li span .feijitb {
            background: url(../img/icon2/feiji6.png) no-repeat; }
          #nav .nav .nav-ul .te .main-l-cont li span .sntcd_hot {
            float: none;
            width: 18px;
            height: 6px;
            margin: 8px 0 0 4px;
            background: url(../img/icon2/hot6.png) no-repeat;
            display: inline-block;
            vertical-align: top; }
        #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore {
          display: none;
          position: absolute;
          left: 218px;
          top: 0;
          width: 428px;
          height: 480px;
          border-left: 1px solid #f0f0f0;
          border-bottom: 1px solid #f0f0f0;
          border-right: 1px solid #f0f0f0;
          padding: 20px 300px 20px 20px;
          overflow-y: auto;
          z-index: 9;
          background: #fff; }
          #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .ptlm_tit {
            padding: 10px 0;
            font-size: 16px;
            border-bottom: 1px solid #f60; }
            #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .ptlm_tit a {
              line-height: 16px;
              border-left: 3px solid #ff6400;
              padding-left: 10px; }
          #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .ptlm_info {
            margin: 10px 0 20px; }
            #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .ptlm_info a {
              float: left;
              padding: 1px 5px;
              line-height: 20px;
              margin: 0 10px 12px 0; }
          #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 265px;
            height: 478px; }
            #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right ul {
              height: 100%; }
              #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right ul .first-tj {
                height: 50%;
                border-bottom: 1px solid #999;
                overflow: hidden; }
                #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right ul .first-tj a img {
                  width: 265px;
                  height: 200px; }
              #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right ul .last-tj {
                margin-top: 10px;
                height: 50%;
                overflow: hidden; }
                #nav .nav .nav-ul .te .main-l-cont li .proTypeListMore .nav_right ul .last-tj a img {
                  width: 265px;
                  height: 200px; }
        #nav .nav .nav-ul .te .main-l-cont li .main_active {
          display: block; }
      #nav .nav .nav-ul .te .main-l-cont .lookMoreNav {
        height: 39px;
        line-height: 39px;
        font-size: 12px;
        text-align: center;
        border-top: 1px dashed #666;
        width: 218px; }

#footer {
  margin-top: 20px; }
  #footer .footer-hotarea .hotarea_t ul {
    height: 34px;
    border-bottom: 2px solid #999; }
    #footer .footer-hotarea .hotarea_t ul li {
      float: left;
      padding: 0 10px;
      margin-right: 15px;
      height: 34px;
      width: 92px;
      color: #333;
      font-size: 16px;
      line-height: 34px; }
    #footer .footer-hotarea .hotarea_t ul .onhot {
      border-bottom: solid 2px #416fbd;
      color: #416fbd; }
  #footer .footer-hotarea .hotarea-b {
    display: none;
    height: 120px;
    overflow: auto; }
    #footer .footer-hotarea .hotarea-b a {
      float: left;
      width: 90px;
      height: 30px;
      margin-left: 15px;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 30px; }
    #footer .footer-hotarea .hotarea-b a:hover {
      color: #f60; }
  #footer .footer-hotarea .on_hot {
    display: block; }
  #footer .footer-firendlink {
    margin-top: 20px;
    border: 1px solid #999;
    border-radius: 5px 5px 0 0;
    height: 120px; }
    #footer .footer-firendlink .firendlink-t {
      height: 30px;
      background: #f3f3f3;
      line-height: 24px;
      font-size: 12px;
      border-bottom: 1px solid #999; }
      #footer .footer-firendlink .firendlink-t * {
        float: left; }
      #footer .footer-firendlink .firendlink-t dt {
        line-height: 29px;
        font-size: 16px;
        height: 27px;
        padding: 4px 30px 0 19px;
        color: #ff5500;
        font-weight: 900px; }
      #footer .footer-firendlink .firendlink-t dd {
        margin: 5px 15px 0 0;
        padding: 0 10px;
        border: 1px solid #999; }
      #footer .footer-firendlink .firendlink-t .active {
        background: #fff;
        border-bottom: 1px solid #fff; }
    #footer .footer-firendlink .firendlink-b {
      padding: 10px 10px 15px; }
      #footer .footer-firendlink .firendlink-b .firendlink-b-c {
        display: none; }
        #footer .footer-firendlink .firendlink-b .firendlink-b-c ul li {
          float: left;
          height: 25px;
          line-height: 25px;
          padding-right: 22px; }
      #footer .footer-firendlink .firendlink-b .ontbsmain {
        display: block; }
  #footer .footer-classify {
    position: relative;
    margin-top: 20px;
    border-top: 2px solid #ff4e00;
    text-align: center; }
    #footer .footer-classify a {
      display: inline-block; }
    #footer .footer-classify .zimu {
      color: #039;
      margin-top: 20px; }
      #footer .footer-classify .zimu span {
        height: 30px;
        line-height: 30px;
        font-size: 12px; }
      #footer .footer-classify .zimu a {
        display: inline-block;
        padding: 0 8px;
        color: #039;
        margin: 0 5px; }
      #footer .footer-classify .zimu a:hover {
        color: #f60;
        text-decoration-line: underline; }
    #footer .footer-classify .weblink a {
      height: 30px;
      line-height: 30px;
      display: inline-block;
      padding: 0 10px;
      color: #000; }
    #footer .footer-classify .weblink a:hover {
      color: #ff4400;
      text-decoration-line: underline; }
    #footer .footer-classify .address p {
      height: 28px;
      line-height: 28px;
      color: #999; }
      #footer .footer-classify .address p a {
        color: #555; }
      #footer .footer-classify .address p a:hover {
        text-decoration-line: underline; }
      #footer .footer-classify .address p a.sina {
        width: 19px;
        height: 19px;
        font-size: 0;
        margin: 0 5px;
        vertical-align: middle;
        background-position: -416px -789px; }
      #footer .footer-classify .address p .wxcode {
        position: relative;
        display: inline-block;
        width: 19px;
        height: 19px;
        margin: 0 5px;
        vertical-align: middle;
        background: #fff;
        background: url(../img/icon.png) no-repeat;
        background-position: -386px -789px; }
        #footer .footer-classify .address p .wxcode img {
          display: none;
          width: 144px;
          height: 144px;
          position: absolute;
          bottom: 0;
          z-index: 1; }
      #footer .footer-classify .address p .wxcode:hover img {
        display: block; }
    #footer .footer-classify .bottomimg {
      width: 1200px;
      height: 50px;
      margin-top: 20px;
      display: flex;
      justify-content: center; }
      #footer .footer-classify .bottomimg a {
        background: url(../img/timg.gif);
        background-size: 124px 47px;
        border-radius: 5px;
        width: 124px;
        height: 47px;
        margin: 0 5px; }
    #footer .footer-classify .foot_ewmpt {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -30px 0 0 480px; }
      #footer .footer-classify .foot_ewmpt img {
        width: 100px;
        height: 100px;
        border: 1px solid #efefef;
        padding: 2px; }
      #footer .footer-classify .foot_ewmpt a {
        display: block; }
