@charset "UTF-8";
/*CSS Document*/

/* body, ul, ol, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0;
    /* 怪异盒子模型,看需求加 */

/* box-sizing: border-box; */

/* } */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    /* 怪异盒子模型,看需求加 */
    /* box-sizing: border-box; */
}

body {
    font: 12px "";
    word-wrap: break-word;
}

a, u, s, del {
    color: #666;
    text-decoration: none;
}

a {
    cursor: pointer;
    display: block;
}

a:hover {
    color: #ff6600;
}

/* a标签的划过效果*/

fieldset, a img, .bor0 {
    border: 0;
}

i, em, b {
    font-style: normal;
    font-weight: 100;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.ind2 {
    text-indent: 2em;
}

.over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.valign {
    text-align: center;
}

.valign img {
    vertical-align: middle;
}

.valign:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.clear {
    zoom: 1;
}

.clear:before {
    content: "";
    display: table;
}

/*可以防止margin-top向上传递*/

.clear:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}